.icons {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
  color: #979797;
}
@media (min-width: 768px) {
  .icons {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
}
.icons__img {
  margin-bottom: 20px;
}
.icons__img:last-child {
  margin-bottom: 0;
}
.line {
  border-bottom: 1px solid #979797;
  opacity: 0.2;
  margin-top: 25px;
}
